body {
    font-family: Arial, sans-serif;
    margin: 10px;
    width: 200px;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
}

#scrollable-username-list {
    max-height: 200px;
    overflow-y: auto;
}

#scrollable-username-list button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    cursor: pointer;
}
